#insights_hypos_range_slider_meal_size .rc-slider-handle {
  background-color: #6c6c6c;
  border-color: #6c6c6c;
}

#insights_hypos_range_slider_meal_size .rc-slider-dot-active {
  background-color: #6c6c6c;
  border-color: #6c6c6c;
}

#insights_hypos_range_slider_meal_size .rc-slider-track {
  background-color: #6c6c6c;
}

#insights_meals_range_slider_meal_size .rc-slider-handle {
  background-color: #6c6c6c;
  border-color: #6c6c6c;
}

#insights_meals_range_slider_meal_size .rc-slider-dot-active {
  background-color: #6c6c6c;
  border-color: #6c6c6c;
}

#insights_meals_range_slider_meal_size .rc-slider-track {
  background-color: #6c6c6c;
}

.nav-pills .nav-link.active {
    color: #fff;
    background-color: #5c636a;
}

.nav-pills .nav-link{
    color: #5c636a;
}

\\ Small
@media screen and (max-width: 500px){
    .xs-hide{
        display: none;
    }
}
\\ Medium
@media screen and (min-width: 501px) and (max-width: 789px){
    .md-hide{
        display: none;
    }
}
\\ Large
@media screen and (min-width: 790px){
    .lg-hide{
        display: none;
    }
}

@media screen and (max-width: 800px) {
    .sm-hide {
        display: none;
    }
}

html, body {
    font-family: 'Verdana', sans-serif;
}

#daily_graph {
    width: 100%;
}

#agp_graph {
    width: 100%;
}
/* Stats card */

.c-stats-card-tir__title{
    padding: 2% 0% 0%;
    text-align: center;
    font-weight: bold;
    font-size: x-small;
}

.c-stats-card-tir__range{
    font-size: 20%;
    padding: 0% 0%;
    text-align: center;
}

.c-stats-card__value{
    font-size: x-large;
    font-weight: bold;
    display: inline-block;
}

.c-stats-card-treat__prctg{
    font-size: x-small;
    padding: 0% 0% 0%;
    text-align: center;
    position: relative;
    font-weight: bold;
}

.c-stats-card-tir__value-x{
    font-size: xx-large;
    font-weight: bold;
    display: inline-block;
}

.c-stats-card-tir__value-xx{
    font-size: xxx-large;
    font-weight: bold;
    display: inline-block;
}

.c-stats-card-tir__unit{
    font-size: x-small;
    display: inline-block;
}
.c-stats-card-tir__wrapper{
    text-align: center;
    top: -1rem;
    position: relative;
}
.c-stats-card-tir__time{
    font-size: x-small;
    padding: 0% 0% 0%;
    text-align: center;
    position: relative;
    font-weight: bold;
}

/* Treatment */

/* 
.c-treatment div{
    display: inline-block;
}

.c-treatment div div:first-child{
    font-size: x-large;
    font-weight: bold;
}
.c-treatment div div:nth-child(2){
    font-size: x-small;
    font-weight: bold;
} */


.f-xs {
    font-size: x-small;
}

.f-bold{
    font-weight: bold;
}

.f-xl{
    font-size: x-large;
}

.t-align-c{
    text-align: center;
}


.image-border{
    border-radius: 25px 25px 25px 25px;
}

.image-border-top{
    border-radius: 25px 25px 0 0;
}

.image-border-bottom{
    border-radius: 0 0 25px 25px;
}

.image-border-left{
    border-radius: 25px 0 0 25px;
}

.image-border-right{
    border-radius: 0 25px 25px 0;
}

